.tour_in_progress {
  border: 0.5em solid palegreen;
  background-color: palegreen;
  border-radius: 0.5em;
  margin: 0.5em;
}

.tour_todo {
  border: 0.5em solid coral;
  background-color: coral;
  border-radius: 0.5em;
  margin: 0.5em;
}

.tour_early {
  background-color: palegreen;
}

.tour_middle {
  background-color: khaki;
}

.tour_late {
  background-color: lightsalmon;
}

.container_empty {
  background-color: paleturquoise;
}

a span {
  display: inline-block;
  width: 2em;
  padding: 0 0.5em;
  text-align: center;
}

#quickDate{
  display: flex;
  justify-content: flex-end;
}

#quickDate > button{
  width: 2.5em;
  text-align: center;
}