.tour_in_process {
  border: 0.5em solid palegreen;
  background-color: palegreen;
  border-radius: 0.5em;
  margin: 0.5em;
}

.tour_confirmed {
  border: 0.5em solid coral;
  background-color: coral;
  border-radius: 0.5em;
  margin: 0.5em;
}

.tour_early {
  background-color: palegreen;
}

.tour_morning {
  background-color: khaki;
}

.tour_afternoon{
    background-color: gold;
}

.tour_evening {
  background-color: tomato;
}

.container_empty {
  background-color: paleturquoise;
}

a span {
  display: inline-block;
  width: 2em;
  padding: 0 0.5em;
  text-align: center;
}

#quickDate{
  display: flex;
  justify-content: flex-end;
}

#quickDate > button{
  width: 2.5em;
  text-align: center;
}